/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* MY STYLE */
.inputPoint {
  stroke: yellow;
  fill: yellow;
}

.outputPoint {
  stroke: greenyellow;
  fill: greenyellow;
}

.butterfly
.rect {
  fill: rgba(0, 0, 0, 0.6);
}
